
body{
    background-color:rgb(247, 246, 245);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 45px;
    /* position: relative; */
}

nav .logo {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 35px;
    cursor: pointer;
}

nav .gs {
    color: white;
    background-color: black;
    border-radius: 16px;
    padding: 8px 17px;


}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 486px;
    border: 2px solid black;
    background-color: #ebc765;
    /* position: sticky; */
    /* position: absolute; */
}

.box2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.text{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

img{
    width: 277px;


}

.text{
    padding: 50px;
}

.text h1{
    font-size: xxx-large;
    font-weight: 900;

}

.text h2{
    font-family:serif
}

.text .sr{
    color: white;
    background-color: black;
    border-radius: 8px;
}

.line{
    /* width: 2000px; */
    /* height: 23px; */
    color: black;
    border: 1px solid black;
    
}

.last{
    display: flex;
    justify-content: center;
}

.last ul{
    list-style: none;
    display: flex;
    gap: 23px;
}
